* {
  font-family: "Montserrat", sans-serif;
}

/*Free background image from: https://picjumbo.com/tropical-leaves-free-background/*/
body {
  background-image: url(./images/tropical-leaves-free-background-picjumbo-com.jpg);
  background-size: cover;
  background-color: rgb(49, 88, 80);
}

.navbar-name {
  color: #90b1d0;
  text-transform: uppercase;
  font-size: 20px;
}

#navLinks {
  padding-top: 5px;
}

/*Border over footer*/
.top-border {
  border-top: 10px solid rgb(75, 90, 90);
}

/*Margin for cards*/
.margins {
  margin-top: 100px;
  margin-bottom: 200px;
}

.img-marg {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.bigger {
  font-size: 20px;
}

.bio-photo-div {
  margin-top: 20px;
}

.light-blue {
  color: #5184b4;
  text-decoration: underline;
}

.light-blue:hover {
  color: #4d6b88;
  text-decoration: none;
}
