/*Free background image from: https://picjumbo.com/tropical-leaves-free-background/*/
body {
    background-image: url(./images/tropical-leaves-free-background-picjumbo-com.jpg);
    background-size: cover;
    background-color: rgb(49, 88, 80);
}

/*Right Align Navbar links*/
.navbar-right {
    position: absolute;
    right: 10px;
}

/*Border over footer*/
.top-border {
    border-top: 10px solid rgb(75, 90, 90);
}

/*Margin for bio card*/
.margins{
    margin-top: 50px;
    margin-bottom: 200px;
}

