/*Following code from: https://mdbootstrap.com/docs/jquery/css/background-image/*/

body, html {
    height: 100%;
  }

  .bg {
/* The image used */
background-image: url("./images/tropical-leaves-free-background-picjumbo-com.jpg");

/* Full height */
height: 100%;

/* Center and scale the image nicely */
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.top-border {
    border-top: 10px solid rgb(75, 90, 90);
}